table{

    margin: 0 auto;
    padding-top: 35px;
}
th{
    border: 1px solid black;
    width: 150px;
    height: 50px;
}
td{
    border: 1px solid black;
    width: 150px;
    height: 50px;
    text-align: center;
}